<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="commons/cdn :: cdn">
    <meta charset="UTF-8">
    <title>友链页面</title>
</head>
<body>
<!--导航栏-->
<div th:replace="commons/nav :: nav"></div>

<div class="box">
    <br>
    <br>
    <span>  Github地址：<a href="https://github.com/Autunomy">https://github.com/Autunomy</a></span>
    <br>
    <br>
<!--    <hr>-->
    <br>
    <br>
    <span>QQ:1156388927</span>
    <br>
    <br>
<!--    <hr>-->
    <br>
    <br>
    <span>CSDN: <a href="https://blog.csdn.net/m0_51654746?spm=1000.2115.3001.5343">https://blog.csdn.net/m0_51654746?spm=1000.2115.3001.5343</a></span>
</div>

</body>
</html>